.application {
  background-color: $special-darkblue;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  color: $white;
  padding-top: 29px;
  padding-bottom: 38px;
  box-sizing: border-box;
}

.application__wrapper {
  @include wrapper;
}

.application__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 348px;
}

.application__promo {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.application__button-download {
  display: inline-block;
  background-color: transparent;
  color: $white;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 280px;
  border: 3px solid $white;
  border-radius: 29px;
  box-sizing: border-box;
  margin-bottom: 35px;

  &:hover {
    background: $white;
    color: $pink;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
  }

  &:active {
    background: $white;
    color: $pink;
    opacity: 0.3;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    width: 300px;
  }
}

@media (min-width: $tablet-width) {
  .application {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../img/back-tablet.jpg");
  }

  .application__slogan {
    grid-column: 1 / 2;
    font-size: 40px;
    line-height: 120%;
    width: 300px;
    padding-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .application {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url("../img/back-desktop.jpg");
  }

  .application__slogan {
    font-size: 50px;
    line-height: 68px;
    grid-column: 1 / 2;
    width: 300px;
    padding-bottom: 51px;
  }
}
