.benefits {
  background-color: $lightgrey;
}

.benefits__list {
  @include list-reset;
  padding-top: 123px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
  }
}

.benefits__item {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.benefits__title {
  font-size: 18px;
  line-height: 133%;
  font-weight: 700;
}

.benefits__description {
  font-size: 14px;
  line-height: 171%;
  padding-left: 20px;
  padding-right: 20px;
}
