.benefits__lead {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.benefits__promo {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.benefits__list {
  @include list-reset;
  background-color: $lightgrey;
}

.benefits__title {
  font-size: 18px;
  line-height: 133%;
  font-weight: 700;
}

.benefits__description {
  font-size: 14px;
  line-height: 171%;
}
