.benefits {
  background-color: $lightgrey;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 133px;
    background-image: linear-gradient(175deg, $white 50%, $lightgrey 50%);
  }
}

.benefits__list {
  @include list-reset;
  padding-top: 123px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.benefits__item {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.benefits__item-wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    background-color: $lightgrey;
    width: 300px;
    padding-top: 290px;
    background-size: 294px;

    &--mood {
      background-image: url("../img/phone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/phone-screen-1-desktop@2x.png");
      }
    }

    &--world {
      background-image: url("../img/phone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/phone-screen-2-desktop@2x.png");
      }
    }

    &--friends {
      background-image: url("../img/phone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/phone-screen-3-desktop@2x.png");
      }
    }
  }
}

.benefits__title {
  font-size: 18px;
  line-height: 133%;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    width: 240px;
    margin: 0 auto;
    padding-top: 59px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.benefits__description {
  font-size: 14px;
  line-height: 171%;
  padding-left: 20px;
  padding-right: 20px;
}

.benefits__image-wrapper {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.benefits__image {
  padding-top: 48px;
  margin-bottom: -65px;
  z-index: -1;
}
