.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  &:hover path {
    fill: $darkblue;
  }

  &:active path {
    fill: $darkblue;
    opacity: 0.3;
  }
}
