.editor-form__image-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
  }
}

.editor-form__image {
  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.editor-form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  padding-top: 35px;
  padding-left: 33px;
  padding-right: 45px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.editor-form__button {
  border: none;
}

.editor-form__controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    padding-right: 60px;
  }
}

.editor-form__controls-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 114px;
  }
}

.editor-form__wrapper {
  position: relative;
  border-bottom: transparentize($darkblue, 0.9) solid 1px;
  width: 320px;
  padding-top: 36px;
  padding-bottom: 34px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 275px;
    padding-left: 4px;
    padding-right: 18px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    padding-left: 0;
    padding-right: 30px;
  }

  &--fill,
  &--contrast {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &--contrast {
    @media (min-width: $desktop-width) {
      border-bottom: none;
      padding-left: 7px;
      margin-bottom: 3px;
    }
  }
}

.editor-form__label {
  text-align: left;
  height: 71px;
  padding-top: 22px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    width: 92px;
    height: 70px;
  }
}

.editor-form__wrapper--contrast .editor-form__label {
  padding-top: 21px;
  padding-left: 5px;

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-left: 0;
  }
}

.editor-form__range {
  height: 2px;
  background: $darkblue;
  width: 240px;

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.editor-form__toggle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $white;
  border: 2px solid $pink;
  position: absolute;
  top: 30px;
  left: 232px;

  @media (min-width: $tablet-width) {
    top: 30px;

    &--crop {
      left: 220px;
    }

    &--fill {
      left: 80px;
    }

    &--contrast {
      left: 155px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 30px;

    &--crop {
      left: 325px;
    }

    &--fill {
      left: 125px;
    }

    &--contrast {
      left: 227px;
    }
  }

  &:active {
    background: $pink;
  }
}


.editor-form__icon {
  &:hover path {
    fill: $darkblue;
    opacity: 0.3;
  }

  &:active path {
    fill: $darkblue;
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
}
