.editor-form__image-wrapper {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.editor-form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  padding-top: 42px;
  padding-left: 37px;
  padding-right: 49px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.editor-form__button {
  border: none;
}

.editor-form__controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.editor-form__controls-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 107px;
  }
}

.editor-form__wrapper {
  position: relative;
  border-bottom: transparentize($darkblue, 0.9) solid 1px;
  width: 320px;
  padding-top: 43px;
  padding-bottom: 34px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 275px;
    padding-left: 4px;
    padding-right: 18px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }

  &--fill,
  &--contrast {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &--contrast {
    @media (min-width: $desktop-width) {
      border-bottom: none;
    }
  }
}

.editor-form__label {
  text-align: left;
  height: 72px;
  padding-top: 27px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    width: 92px;
  }
}

.editor-form__range {
  height: 2px;
  background: $darkblue;
  width: 240px;

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.editor-form__toggle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $white;
  border: 2px solid $pink;
  position: absolute;
  top: 37px;
  left: 193px;

  @media (min-width: $tablet-width) {
    top: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 30px;
  }

  &:active {
    background: $pink;
  }
}


.editor-form__icon {
  &:hover path {
    fill: $darkblue;
    opacity: 0.3;
  }

  &:active path {
    fill: $darkblue;
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
}
