.editor-form__image-wrapper {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.editor-form__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.editor-form__controls-wrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.editor-form__wrapper {
  position: relative;
  padding-top: 43px;
  padding-bottom: 34px;
  border-bottom: transparentize($darkblue, 0.9) solid 1px;
  width: 320px;
  padding-left: 40px;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    width: 275px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }

  &--fill,
  &--shadow {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.editor-form__range {
  height: 2px;
  background: $darkblue;
  width: 240px;

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.editor-form__toggle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $white;
  border: 2px solid $pink;
  position: absolute;
  top: 36px;
  left: 193px;
}
