.feed-card {
  padding-bottom: 23px;
  padding-left: 17px;
  padding-right: 10px;
  background-color: $lightgrey;
  width: 280px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
    padding-top: 10px;
    min-height: 155px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
    padding-right: 30px;
  }

  &--panorama {
    margin: auto;
    padding-bottom: 18px;

    @media (min-width: $tablet-width) {
      width: 620px;
      padding-top: 0;
      min-height: 121px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
      min-height: 96px;
    }
  }
}

.feed-card--panorama .feed-card__user-name {
  padding-top: 17px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.feed-card--panorama .feed-card__text {
  padding-bottom: 11px;
}

.feed-card__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.feed-card__user-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: $darkblue;
  margin: 0;
  padding-top: 17px;

}

.feed-card__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  color: inherit;
  text-transform: uppercase;
}

.feed-card__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  color: $darkblue;
  margin: 0;
  padding-bottom: 10px;
}

.feed-card__likes {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  color: $pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 0;
    justify-content: space-between;
    margin-top: auto;
  }
}

.feed-card__likes-hidden {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  color: $pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    margin: 0;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.feed-card__likes--panorama {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.feed-card__likes-icon {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}
