.feed-card {
  padding-bottom: 26px;
  padding-left: 17px;
  padding-right: 10px;
  background-color: $lightgrey;
  width: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      width: 620px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
    }
  }
}

.feed-card--wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.feed-card__user-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: $darkblue;
}

.feed-card__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  color: inherit;
  text-transform: uppercase;
}

.feed-card__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  color: $darkblue;
}

.feed-card__likes {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  color: $pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;

  @media (min-width: $tablet-width) {
    gap: 0;
    justify-content: space-between;
  }
}

.feed-card__likes-hidden {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  color: $pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.feed-card__likes--panorama {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.feed-card__likes-icon {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}
