.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $tablet-width) and (max-width: $no-desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.form__user-info {
  @include fieldset-reset;
  align-self: center;
  margin-top: 42px;
  padding-bottom: 44px;
  box-sizing: border-box;

  &:first-of-type {
    margin-top: 0;

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
      padding-top: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 616px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    width: 433px;
  }

  &--contacts,
  &--emotions {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      border: 2px solid $lightgrey;
    }

    @media (min-width: $desktop-width) {
      border: 2px solid $lightgrey;
      grid-column: 1 / -1;
    }
  }
}

.form__user-info--contacts {
  box-sizing: border-box;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    order: 2;
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 30px;
    margin-top: 64px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    width: 936px;
    padding-left: 45px;
    padding-right: 56px;
    padding-top: 26px;
    padding-bottom: 17px;
  }
}

.form__user-info--emotions {
  box-sizing: border-box;
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    order: 4;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 60px;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    width: 936px;
    padding-left: 62px;
    padding-right: 62px;
    margin-top: 50px;
  }
}

.form__pre-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__user-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 50px;
  }

  &--contacts {
    @media (max-width: $mobile-width-only) {
      width: 276px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $tablet-width) {
      flex-direction: column;
      margin-bottom: 14px;
    }
  }

  &--contacts:first-of-type {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--contacts:last-of-type {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--emotions {
    align-items: center;
  }
}

.form__text-input-wrapper {
  width: 276px;

  @media (min-width: $tablet-width) {
    width: 100%;
    position: relative;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 6px;
      right: 0;
      width: 59px;
      height: 59px;
      background-color: $special-lightgrey;
    }
  }

  &--phone::after {
    @media (min-width: $tablet-width) {
      background-image: url("../img/phone-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--post::after {
    @media (min-width: $tablet-width) {
      background-image: url("../img/mail-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.form__user-info-wrapper--contacts .form__label {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 22px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin-top: 10px;
    margin-left: 30px;
  }
}

.form__user-info-wrapper--contacts .form__text-input {
  margin-left: 0;
  padding-right: 79px;

  @media (min-width: $desktop-width) {
    width: 371px;
  }
}

.form__user-info-wrapper--contacts:nth-of-type(1) {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.form__user-info-wrapper--contacts:nth-of-type(2) {
  @media (min-width: $desktop-width) {
    margin-left: 54px;
    grid-column: 2 / 3;
  }
}

.form__achievements {
  @include fieldset-reset;
  background-color: $lightgrey;
  padding-top: 38px;
  padding-bottom: 42px;
  box-sizing: border-box;

  @include wrapper;
  padding-left: 51px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: 2px solid $lightgrey;
    padding-top: 0;
    align-items: flex-start;
    padding-left: 119px;
    order: 3;
    margin-top: 58px;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    width: 936px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 55px;
    padding-bottom: 11px;
  }
}

.form__achievements-list {
  @include list-reset;
  padding-top: 43px;
  padding-left: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 116px;
    grid-auto-flow: column;
    padding-left: 107px;
  }
}

.form__application-versions {
  @include fieldset-reset;
  background-color: $lightgrey;
  padding-top: 40px;
  padding-left: 20px;
  box-sizing: border-box;

  @include wrapper;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    order: 1;
    margin-top: 24px;
    background-color: $white;
    border: 2px solid $lightgrey;
    align-items: flex-start;
    padding-left: 119px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    align-items: center;
    width: 431px;
    margin-left: 37px;
    margin-right: 0;
    margin-top: 4px;
    padding-right: 0;
    padding-left: 0;
  }
}

.form__application-versions-list {
  @include list-reset;
  padding-top: 39px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
    padding-bottom: 54px;
    padding-right: 30px;
  }
}

.form__label {
  font-size: 14px;
  line-height: 214%;
  color: $pink;
  text-transform: uppercase;
  text-align: left;
  padding-left: 22px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  &--emotions {
    padding-left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__text-input,
.form__textarea {
  border: 2px solid $special-lightgrey;
  border-radius: 1px;
  font-family: inherit;
  padding-left: 19px;
  padding-top: 24px;
  padding-bottom: 23px;
  margin-top: 7px;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $darkblue;
  }

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    border: 2px solid $pink;
  }
}

.form__text-input {
  width: 276px;
  height: 59px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    width: 100%;
  }
}

.form__textarea {
  resize: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
    padding-bottom: 0;
    height: 124px;
  }
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  margin: 0;

  &--achievements {
    margin-right: 28px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__legend-hidden {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 23px;
    order: 5;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    padding-top: 35px;
    margin-bottom: -69px;
  }
}

.form__submit-button {
  background: $green;
  border: 2px solid $green;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 19px 45px;
  padding-bottom: 14px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 298px;
    grid-column: 1 / 2;
    margin-left: 0;
    margin-top: 28px;
  }

  &:hover {
    background: $special-green;
  }

  &:active {
    background: $special-green;
    opacity: 0.3;
  }

  &:disabled {
    background: $special-lightgrey;
  }
}

.form__footnote {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: $darkblue;
  text-transform: uppercase;
  padding-top: 29px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-right: 0;
    text-align: right;
    padding-top: 42px;
    padding-bottom: 0;
  }

  sup {
    color: $pink;
  }
}

.form__footnote-element {
  @media (max-width: $no-desktop) {
    display: none;
  }
}
