.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.form__user-info {
  @include fieldset-reset;
  align-self: center;
  margin-top: 42px;
  padding-bottom: 44px;
  box-sizing: border-box;

  &:first-of-type {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    width: 616px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    width: 433px;
  }

  &--contacts,
  &--emotions {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      border: 2px solid $lightgrey;
    }

    @media (min-width: $desktop-width) {
      border: 2px solid $lightgrey;
      grid-column: 1 / -1;
    }
  }
}

.form__user-info--contacts {
  box-sizing: border-box;
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    width: 936px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 74px;
  }
}

.form__user-info--emotions {
  box-sizing: border-box;
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    width: 936px;
  }
}

.form__user-info-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      flex-direction: column;
    }
  }

  &--emotions {
    align-items: center;
  }
}

.form__user-info-wrapper--contacts .form__label {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.form__user-info-wrapper--contacts .form__text-input {
    @media (min-width: $desktop-width) {
      width: 371px;
    }
}

.form__user-info-wrapper--contacts:nth-of-type(1) {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.form__user-info-wrapper--contacts:nth-of-type(2) {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.form__achievements {
  @include fieldset-reset;
  background-color: $lightgrey;
  padding-top: 45px;
  box-sizing: border-box;

  @include wrapper;

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: 2px solid $lightgrey;
    padding-top: 0;
    align-items: flex-start;
    padding-left: 60px;
    order: 3;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    width: 936px;
  }
}

.form__application-versions {
  @include fieldset-reset;
  background-color: $lightgrey;
  padding-top: 42px;
  box-sizing: border-box;

  @include wrapper;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    order: 1;
    margin-top: 46px;
    background-color: $white;
    border: 2px solid $lightgrey;
    align-items: flex-start;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    align-items: center;
    width: 431px;
    margin-left: 37px;
    margin-right: 0;
  }
}

.form__achievements-list {
  @include list-reset;
  padding-top: 52px;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 116px;
    grid-auto-flow: column;
  }
}

.form__application-versions-list {
  @include list-reset;
  padding-left: 20px;
  padding-top: 52px;
}

.form__label {
  font-size: 14px;
  line-height: 214%;
  color: $pink;
  text-transform: uppercase;
  text-align: left;
  padding-left: 23px;

  &--emotions {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__text-input,
.form__textarea {
  border: 2px solid $special-lightgrey;
  border-radius: 1px;
  font-family: inherit;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;

  &::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $darkblue;
  }
}

.form__text-input {
  margin-bottom: 17px;
  width: 276px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    width: 100%;
    margin-top: 22px;
  }
}

.form__textarea {
  resize: none;
  width: 276px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    width: 496px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
    width: 816px;
  }
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__legend-hidden {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    order: 5;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__submit-button {
  background: $green;
  border: 2px solid $green;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 23px 45px;
  width: 280px;
  margin: 0 auto;
  margin-top: 52px;

  @media (min-width: $tablet-width) {
    width: 296px;
    grid-column: 1 / 2;
  }
}

.form__footnote {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: $darkblue;
  text-transform: uppercase;
  padding-top: 46px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }

  sup {
    color: $pink;
  }
}
