.form-list__item {
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.form-list__item--achievements {
  margin-bottom: 53px;
}

.form-list__item--achievements:last-child {
  margin-bottom: 0;
}

.form-list__item--app-versions {
  margin-bottom: 46px;
}

.form-list__item--app-versions:last-child {
  margin-bottom: 0;
}

.form-list__item--achievements .form-list__label {
  @media (min-width: $desktop-width) {
    width: 200px;
  }
}

.form-list__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $darkblue;
  position: relative;
  display: block;
  text-align: left;
}

.form-list__checkbox + .form-list__label::before {
  content: "";
  position: absolute;
  left: -55px;
  top: 0;
  width: 35px;
  height: 35px;
  border: 2px solid $special-lightgrey;
  background-color: $white;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    left: -60px;
    top: -2px;
    width: 37px;
    height: 37px;
  }

  @media (min-width: $desktop-width) {
    left: -48px;
    top: -3px;
  }
}

.form-list__checkbox:hover + .form-list__label::before {
  border: 2px solid $black;
}

.form-list__checkbox:active + .form-list__label::before {
  border: 2px solid $pink;
}

.form-list__checkbox:checked + .form-list__label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -48px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: -54px;
  }

  @media (min-width: $desktop-width) {
    left: -40px;
  }
}

.form-list__radio + .form-list__label::before {
  content: "";
  position: absolute;
  left: -69px;
  top: -2px;
  width: 37px;
  height: 37px;
  border: 2px solid $special-lightgrey;
  background-color: $white;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -63px;
  }

  @media (min-width: $desktop-width) {
    left: -59px;
    top: -5px;
    width: 39px;
    height: 39px;
  }
}

.form-list__radio:hover + .form-list__label::before {
  border: 2px solid $black;
}

.form-list__radio:active + .form-list__label::before {
  border: 2px solid $pink;
}

.form-list__radio:checked + .form-list__label::after {
  content: "";
  position: absolute;
  left: -58px;
  top: 8px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -51px;
    top: 9px;
  }

  @media (min-width: $desktop-width) {
    left: -47px;
    top: 7px;
  }
}
