.form-list__item {
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.form-list__item--achievements .form-list__label {
  @media (min-width: $desktop-width) {
    padding-bottom: 47px;
    width: 200px;
  }
}

.form-list__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $darkblue;
  position: relative;
  display: block;
  padding-bottom: 69px;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
  }
}

.form-list__checkbox + .form-list__label::before {
  content: "";
  position: absolute;
  left: -55px;
  top: 0;
  width: 35px;
  height: 35px;
  border: 2px solid $special-lightgrey;
  background-color: $white;
  border-radius: 1px;
}

.form-list__checkbox:checked + .form-list__label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -48px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

.form-list__radio + .form-list__label::before {
  content: "";
  position: absolute;
  left: -57px;
  top: 0;
  width: 37px;
  height: 37px;
  border: 2px solid $special-lightgrey;
  background-color: $white;
  border-radius: 50%;
}

.form-list__radio:checked + .form-list__label::after {
  content: "";
  position: absolute;
  left: -46px;
  top: 11px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}
