.page-header {
  color: $white;
  display: flex;
  flex-direction: column;
  background-color: transparentize($black, 0.7);
  background-size: cover;
}

.page-header__logo {
  align-self: flex-start;
  padding-left: 20px;
}
