.page-header {
  background-color: $darkblue;
  color: $white;

  @include wrapper-mobile;

  @media (min-width: $tablet-width) {
    @include wrapper-tablet;
  }

  @media (min-width: $desktop-width) {
    @include wrapper-desktop;
  }
}

.page-header__logo {
  align-self: flex-start;
  padding-top: 23px;
}
