.photos-editor {
  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.photos-editor__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: $lightgrey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 47px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 90px;
  }
}

.photos-editor__post {
  display: inline-block;
  color: $pink;
  border: 3px solid $pink;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding: 21px 90px;
  margin-top: 38px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 260px;
    padding: 21px 80px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    padding: 21px 42px;
    margin-right: 44px;
    margin-bottom: 0;
  }

  &:hover {
    color: $white;
    background-color: $pink;
  }

  &:focus {
    color: $white;
    background-color: $pink;
    opacity: 0.3;
  }
}

.photos-editor__cancel {
  display: inline-block;
  opacity: 0.1;
  border: 3px solid $darkblue;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding: 21px 90px;

  @media (min-width: $tablet-width) {
    width: 260px;
    padding: 21px 80px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    padding: 21px 42px;
    margin-top: 38px;
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.3;
    background-color: $darkblue;
    color: $white;
  }
}
