.rates {
  background-color: $lightgrey;
  padding-top: 129px;
  padding-bottom: 49px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 129px;
    background-image: linear-gradient(175deg, $white 50%, $lightgrey 50%);
  }
}

.rates__wrapper {
  @include wrapper;
  padding-left: 0;
  padding-right: 0;
}

.rates__table-wrapper {
  overflow: hidden;
  width: 100%;
}

.rates__table {
  border-collapse: collapse;
  margin-bottom: 45px;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    width: 284%;
    position: relative;
    left: -92%;
  }
}

.rates__feature {
  background-color: $white;
}

.rates__feature-name {
  border: 2px solid $special-lightgrey;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 214%;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 20px;
  display: none;
  width: 153px;

  @media (min-width: $tablet-width) {
    display: table-cell;
    text-transform: capitalize;
  }
}

.rates__feature-forename {
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.rates__feature-state {
  border: 2px solid $special-lightgrey;
  padding-top: 24px;
  padding-bottom: 25px;

  &--enabled {
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--disabled {
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $mobile-width-only) {
    &--enabled,
    &--disabled {
      background-position: 93%;
    }
  }
}

.rates__item {
  background-color: $darkblue;
  color: $white;
  border: 2px solid $white;
  border-radius: 1px 0 0 0;
  width: 153px;
  position: relative;
  overflow: hidden;

  @media (max-width: $mobile-width-only) {
    width: 280px;
  }

  &--hit::before {
    content: "хит";
    position: absolute;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    top: 20px;
    left: -40px;
    width: 153px;
    color: $white;
    background-color: $pink;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) and (max-width: $no-desktop) {
      top: 5px;
      left: -55px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .rates__item-hidden {
    display: none;
  }
}

.rates__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  text-transform: uppercase;
}

.rates__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
}
