.research {
  padding-top: 54px;
  position: relative;
  z-index: 1;
  background-color: $white;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
    background-color: $lightgrey;
  }
}

.research__pre-wrapper {
  display: grid;
  grid-template-columns: 238px 1fr;
  padding-left: 20px;
  padding-bottom: 54px;
  background-image: url("../img/timer-tablet.svg");
  background-repeat: no-repeat;
  background-position: left 20px top 0;

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 79px;
    padding-bottom: 115px;
    background-image: url("../img/timer-desktop.svg");
    background-repeat: no-repeat;
    background-position: left 130px top -2px;
  }
}

.research__wrapper {
  grid-column: 2 / 3;
  text-align: left;
  padding-left: 72px;
  padding-top: 40px;
  padding-right: 30px;

  @media (min-width: $desktop-width) {
    width: 734px;
    padding-top: 10px;
    padding-left: 132px;
    padding-right: 75px;
  }
}

.research__promo {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  margin: 0;
  width: 168px;

  @media (min-width: $desktop-width) {
    width: 298px;
  }
}

.research__promo-newline {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.research__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 11px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 22px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
  }
}

.research__text-newline-first {
  @media (max-width: $no-desktop) {
    display: none;
  }
}

.research__text-newline-second {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.research__link {
  color: $pink;
  text-decoration: underline;
  text-align: left;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
