.reviews {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-top: 108px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 58px;
    margin-top: 72px;
  }
  background-color: $white;
}

.reviews__wrapper {
  @include wrapper;
  padding-bottom: 60px;
  padding-top: 50px;
}

.reviews__item {
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-left: 126px;
    padding-right: 126px;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  display: block;
  padding-bottom: 31px;
  font-size: 18px;
  line-height: 167%;
  font-weight: 700;
  font-style: normal;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 2;
    padding-top: 51px;
    padding-bottom: 17px;
  }
}

.reviews__author-age {
  order: 3;
  font-size: 14px;
  line-height: 214%;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 214%;
  margin: 0;
}
