.site-list {
  @include list-reset;
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  outline: 1px $black;
  background-color: $darkblue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    text-transform: capitalize;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.site-list__link {
  color: $white;
}

.site-list__link:hover {
  color: $pink;
}

.site-list__link:active {
  color: $pink;
  opacity: 0.3;
}
