.site-list {
  @include list-reset;
}

.site-list__item {
  box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  outline: 1px $black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.site-list__link {
  color: $white;
}

.site-list__link:hover {
  color: $pink;
}

.site-list__link:active {
  color: $pink;
  opacity: 0.3;
}
