.socials__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  gap: 14px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 6px;
    padding-top: 64px;
    gap: 12px;
  }
}

.socials__link {
  display: block;
  border: 3px solid $lightgrey;
  border-radius: 50%;
  width: 49px;
  height: 49px;

  &:hover {
    border: 3px solid $black;
  }

  &:active {
    opacity: 0.1;
  }
}

.socials__link--twitter {
  padding: 11px 11px;
}

.socials__link--facebook {
  padding: 11px 15px;
}

.socials__link--youtube {
  padding: 10px 15px;
}
