.socials__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.socials__link {
  display: block;
  border: 3px solid $lightgrey;
  border-radius: 50%;
  width: 48px;
  height: 48px;

  &:hover {
    border: 3px solid $black;
  }

  &:active {
    opacity: 0.1;
  }
}

.socials__link--twitter {
  padding: 11px 11px;
}

.socials__link--facebook {
  padding: 11px 15px;
}

.socials__link--youtube {
  padding: 10px 15px;
}
