.success-popup {
  width: 460px;
  margin: 0 auto;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;
  padding-top: 41px;
  position: fixed;
  background-color: $white;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    left: 50%;
  }
}

.success-popup__title {
  width: 330px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 40px;

  @media (min-width: $desktop-width) {
    width: 396px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.success-popup__text {
  padding-left: 66px;
  padding-right: 66px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding-left: 201px;
    padding-right: 201px;
  }
}

.success-popup__wrapper {
  background: $lightgrey;
  padding-bottom: 52px;
}

.success-popup__button {
  background: $green;
  border: 2px solid $green;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 16px 72px;
  width: 296px;
  margin: 0 auto;
  margin-top: 47px;

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    width: 456px;
  }

  &:hover {
    background: $special-green;
  }

  &:active {
    background: $special-green;
    opacity: 0.3;
  }

  &:disabled {
    background: $special-lightgrey;
  }
}
