@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin fieldset-reset {
  border: none;
  padding: 0;
  margin: 0;
}

@mixin wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
  }
}
